<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>PhoneMe!録音確認</title>
    <script src="./main.js"></script>
</head>
<body>
    <h1>録音データ確認ページ</h1>
    <div id="loginContent">
        <h2>ログインしていません。ログインしてください。</h2>
            <p>パスワード：</p>
            <input type="password" id="passwd">
            <button id="loginBtn" onclick="loginAction()">ログイン</button>
    </div>
    <div id="statusView">

    </div>

    <div id="voiceContent">

    </div>
    <div id="afterLoad">

    </div>

    <div id="player">

    </div>
    <div id="infomation">

    </div>


</body>
</html>